/* Stylizing list-item class to get rid of bulletins for list items */
.list-item {
	list-style-type: none;
}
/* this makes widget images responsive */
#cpt-widget img {
	max-height: 80%;
	max-width: 80%;
}
/* stylizes the titles of posts in cpt widget */
p.cpt-link {
	border-top: 0.05em solid #ADBDC1;
}
/* stylizes the signature text */
.signature {
	border-top: 0.05em solid;
	font-family: "Brush Script MT", cursive;
	font-size: 2em;
}
/* stylizes the related posts shortcode */
.related-posts {
	border: 0.05em solid #ADBDC1;
	padding: 0.05em;
	text-align: center;
}
/* stylizes the list items in the related posts shortcode */
li.rp-list {
	display: inline-block;
	padding-right: 1em;
}